.course-card {
  margin: 1.5vw;
  margin-bottom: 0.2vw;
  padding-left: 2vw;
  padding-bottom: 0.5vh;
  padding-top: 0.5vh;

  width: 12vw;
  height: 26vh;
  border-radius: 1vw;
  align-items: center;
  justify-content: center;
  justify-items: center;
  box-shadow: 0 0 10vw rgba(75, 75, 75, 0.15);
  background: url("/Users/sandrasandoval/Desktop/cs1300/development/src/assets/notebook.png");
  background-size: cover;
}
.course-list h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5vh;
  margin-right: 2vw;
}
.course-card h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.7vh;
  padding-right: 2vw;
}
.course-card h3 {
  font-size: 1.7vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.course-card p {
  font-size: 1.5vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.course {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course button {
  padding: 0;
  margin: 0;
}
.list-container {
  justify-content: center;
  flex-direction: row;
  display: flex;
}
.favorite-button button {
  height: 2.5vh;
  width: 5vw;
  border-radius: 0.3vw;
  font-size: 1.7vh;
  border-width: 0.1vw;
}
@media screen and (width <= 650px) {
  .course-card {
    width: 30vw;
    padding-left: 5vw;
    padding-right: 3vw;
  }

  .favorite-button button {
    width: 15vh;
    height: 3vh;
  }
}
