.App {
  text-align: center;
}

h1 {
  font-size: 2.5vw;
  padding-left: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Label {
  font-size: 2.5vh;
  margin-bottom: 0;
  padding-left: 2vw;
}
h2 {
  font-size: 1.5vw;
}
.course-list,
.favorite-list,
.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80vw;
  padding-bottom: 1vh;
}
.grid-container {
  background-color: #0056b3;
}
.list-container {
  margin-left: 2vw;
}

/* .list-container {
  background-color: aqua;
} */

#filters-container {
  display: flex;
  /* justify-content: space-between; */
  padding-left: 2vw;
  align-items: flex-end;
  width: 90vw;
}

#search input {
  font-size: 1vw;
  margin-right: 0.5vw;
  width: 15vw;
}
#search {
  display: flex;
  justify-content: center; /* Horizontally center the items */
  align-items: center;
  flex-direction: row;
  width: fit-content;
}
#navigation {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: flex-end;
}
#side-bar {
  flex-direction: column;
  display: flex;
  width: 10vw;
  padding-left: 2vw;

  /* justify-content: space-between; */
}
body {
  display: flex;
  flex-direction: row;
}

.filter {
  /* margin-right: 20px; */
  /* padding-right: 5vw; */
  width: 8vw;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
}
#navigation {
  justify-content: center;
  align-items: center;
  margin: 1vw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
}
#side-bar button,
#navigation button {
  font-size: 0.7vw;
  /* margin-right: 8vw; */
  width: 5vw;
  /* padding-right: 1vw; */
  max-width: 10vw;
  height: fit-content;
  /* height: 2vh; */
}
/* #side-bar button {
  margin-bottom: 2vh;
} */

.filter h2 {
  margin-bottom: 0.5vh;
  font-size: 1.5vh;
}

.filter select,
#side-bar button {
  width: 5.9vw;
  height: 4vh;
  padding: 0.5vw;
  border-radius: 0.5vw;
  border: 1px solid #ccc;
  font-size: 0.7vw;
  /* justify-content: center;
  align-items: center; */
}
#side-bar button {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 5.9vw;
}

button:hover {
  background-color: #0056b3;
  color: white;
}
button,
.favorites-container button {
  font-size: 1vw;
  margin-right: 2vw;
}
.favorite-list {
  margin-bottom: 3vh;
}
.favorites-container button {
  margin-left: 2vw;
}

/* .favorites-container{
  
} */

/* .favorite-list h2 {
  font-size: 2.5vh;
} */
/* .filter {
  background-color: #61dafb;
  width: 10vw;
  height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filter h2 {
  font-size: 1.5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
@media screen and (width <= 650px) {
  body {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  #side-bar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* margin: 3vw; */
    /* padding-left: 10vw; */
    /* justify-content: space-between; */
  }
  #side-bar button {
    font-size: 1.5vw;
    width: 10vw;
    margin-left: 10vw;
  }

  .filter {
    padding-left: 1vw;
    padding-right: 2vw;
    margin-left: 10vw;
  }
  h1 {
    font-size: 2.5vh;
  }
  .course-list,
  .favorites-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .filter h2 {
    /* margin-bottom: 1 vh; */
    margin-bottom: 0vh;
    font-size: 1.3vh;
  }
  .filter select {
    width: 8vw;
    height: 2vh;
    padding: 0.5vw;
    border-radius: 0.5vw;
    border: 1px solid #ccc;
    font-size: 1vh;
  }
  #search input {
    font-size: 1.2vh;
    margin-right: 0.5vw;
    width: 25vw;
  }
  #search {
    margin-right: 8vw;
    display: flex;
    justify-content: center; /* Horizontally center the items */
    align-items: center;
  }
  #search button,
  #navigation button {
    font-size: 1.3vh;
    width: 10vw;
    padding-left: 2vw;
  }
  /* #filters-container {
    align-items: flex-end;
    justify-content: center;
  } */

  #filters-container button,
  .favorites-container button {
    /* background-color: #0056b3; */
    font-size: 1vh;
  }
  .favorites-container h2 {
    font-size: 1.5vh;
    /* margin: 0%; */
  }
  .favorites-container button {
    height: 3vh;
  }
  .favorites-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
  }
  .favorite-list {
    padding-top: 1vh;
    padding: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  #Label {
    margin: 0;
  }
}
